.Destinations{
    content: "";
    display: table;
    color: black;
    align-items: center;
    width: 100%;
}

.tour{
    float: left;
    max-width: 26%;
    align-items: center;
    justify-content: center;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
    height:550px;
    background-color: rgba(54, 95, 119, 0.5);
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 0 2px 0 #ccc;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.9);
    color: white;
    margin: 30px;
    margin-left: 75px;
    margin-bottom: 60px;
    margin-top: 50px;
}

.tourImg{
    width:400px;
    max-height: 200px;
}

.desc_tour{
    color: black;
}

.tour_info{
    padding: 10px;
    margin: 10px;
}

.tour:hover{
    transform: scale(1.15);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
