.aboutCard {
    background-color: rgba(34, 40, 49, 0.9);
    min-height: 25rem;
    width: 400px;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.7);
    color: white;
    display: inline-block;
    padding-top: 20px;

}

.rightAbout {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    height: auto;
    flex-direction: column;
    box-shadow: 16px 16px #112d32;
    padding-left: 50px;
    padding-bottom: 5px;
}

.aboutImg {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 5px solid #272133;
    margin-top: 20px;
    box-shadow: 0 10px 50px #88bdbc;
}

.name {
    color: #f2f2f2;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
}

.desc {
    font-size: 18px;
    color: #88bdbc;
    padding-bottom: 10px;
}

.sm {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 0.9;
    list-style: none;
}

.contact-btn {
    display: inline-block;
    padding: 12px 50px;
    color: #88bdbc;
    border: 2px solid #88bdbc;
    border-radius: 6px;
    margin-top: 16px;
    transition: .3s linear;
}

.contact-btn:hover {
    background: #88bdbc;
    color: #f2f2f2;
}

/* .headingProf {
    background-color: #222831;
    color: azure;
} */

.leftAbout {
    width: 100%;
    padding: 50px;
    text-transform: none;
}

.linkdIn:hover {
    color: #0072b1;
}

@media screen and (max-width: 1140px) {
    .rightAbout {
        display: flex;
        flex-direction: column;
        padding-left: 6%;
    }

    .aboutBackground {
        padding: 30px;
    }
}

@media screen and (min-width: 1140px) {
    .aboutBackground {
        padding-right: 850px;
        padding-left: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.aboutBackground {
    background: linear-gradient(to right bottom,
            rgba(27, 149, 47, 0.1),
            rgba(30, 108, 217, 0.1)), url(about.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.aboutH1 {
    font-size: 39px;
    font-weight: 600;
    text-align: center;
    background: linear-gradient(to right bottom,
            #88bdbc,
            #254E58);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}